@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&display=swap');
* {
	font-family: 'Noto Sans Mono';
}

h4{
	color: lightgray
}

.skill-title {
	text-transform: uppercase;
	font-weight: 300;
	width: 10vw;
}

.skill{
	width: 10vw;
}

.index{
	color: lightgray;
	width: 10px;
}

.skill-row{
	display: flex;
	flex-direction: row;
	align-self:center;
	align-items: center;
	max-width: 80vw;
}

.title-row{
	display: flex;
	flex-direction: row;
	align-self:center;
	align-items: center;
	max-width: 80vw;
	padding-left:10px;
	/* border: 2px solid greenyellow; */
}

.tree-row {
	display: flex;
	flex-direction: row;
	align-self: center;
	align-items: center;
	max-width: 80vw;
	justify-content: space-between;
	/* border: 2px solid greenyellow; */
	text-transform: uppercase;
}

.tree-block{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.main-wrapper {
	min-width: 40vw;
	max-width: 80vw;
	margin: 3em auto;
	text-align: center;
	display: flex;
	flex-direction: column;
	flex:1;
	text-transform: uppercase;
	/* border: 2px solid red; */
}

.slider-container{
	margin: 0 5vw 0 5vw;
}

.center{
	margin: 0 10vw 0 10vw;
}