@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&display=swap');
#root{
	margin:0;
	padding:0;
	width:100vw;
	height:100vh;
	display: flex;
  flex-direction: column;
  align-items: center;
	box-sizing: border-box;
}



* {
	font-family: 'Noto Sans Mono';
}

h1{
	margin: 0;
	font-size: 2em;
	display: flex;
	flex-direction: column;
	padding-bottom: 0.1em;
	border-bottom: 1.5px solid white;

}

h2{
	font-size: 1em;
	margin-top: 0.5em;
	letter-spacing: 0.1em;
	width: 100%;

}

h4{
	color: lightgray
}

.header-input {
	background: none;
	color: white;
	font: inherit;
	border: none;
}

#name-input {
	text-transform: capitalize;
	width: 85%;
}

#level-input {
	display: flex;
	flex-direction: row;
	align-items: baseline;
	font-size: 0.4em;
	font-weight: 300;
}
#level-input > input {
	width: 10%;
	margin-left: 1%
}

.user-feats-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.user-feats-list > li {
	display: flex;
	height: 0.7em;
  width: 0.7em;
	margin-left: 0.2em;
  border-radius: 50%;
}

/* .feats-list > li:not(:last-child)::after{
	content: ',';
} */
.player-actions {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.player-feats-block {
	display: flex;
	flex-direction: row;
	width: 100vw;
	padding: 0 1em;
	align-items: start;
	justify-content: space-between;
}

.player-feats-block>div{
	width: 30%;
}
.attack-type {
	margin-top:1em;
	width: 80%;
	text-align: center;
	font-style: italic;
	font-size: 0.7em;
}
.attack-type>label{
	margin-left: 0.5em;
}

.player-feats-block>div>h2{
	text-transform: uppercase;
	margin-top: 1em;
	margin-bottom: 0.5em;
	padding-bottom: 0.1em;
	border-bottom: 1px solid white;
}
.player-feats-block>div>li{
	display: flex;
	flex-direction: row;
	font-size: 0.8em;
	list-style-type: none;
}
/* .player-feats-block>div>li::before {
  content: ">";
} */
span.action {
	display: inline-block;
	height: 0.5em;
  width: 0.5em;
  border-radius: 50%;
}
.Collapsible {
	display: flex;
	flex-direction: column;
	padding-left: 0.5em;
	margin-top: 0.1em;
}
.Collapsible__trigger{
	font-size: 1em;
	margin:0;
	font-weight: 600;
}
.Collapsible__contentInner{
	border-top: 1px solid white;
	padding: 0.5em 0 0.5em 0;
}

.player-block {
	width: 100vw;
	display: grid;
	grid-auto-rows:1fr;
	grid-template-columns:repeat(auto-fit,minmax(25em,1fr));
	justify-content: space-around;
	max-height: 90vh;
	flex-basis: 100%;
	margin: 5% 0 10% 0;
}

.player-block label {
	display: flex;
	flex-direction: row;
	flex-basis: 50%;
	max-height: 20px;
	align-items:center;
	align-content:center;
	justify-content: center;
	height: auto;
}

.player-block span {
	margin-left: 20%;
	display: flex;
	width: 80%;
	border-bottom: 0.5px solid #555;
	font-size: 1em;
}

.player-block label input {
	margin-right: 20%;
	margin-left: 10px;
	width: 10%;
	flex-wrap: wrap;
	background: none;
  border: none;
  padding: 1px 0px 1px 5px ;
	color: white;
	height: min-content;
	font-size: 1em;
}


.skill-title {
	text-transform: uppercase;
	font-weight: 300;
	align-self: center;
	margin-top: 0;
	margin-bottom: 0.2em;
}

.skill{
	width: auto;
}

.index{
	color: lightgray;
	width: 3%;
	padding-left:-3vw;
	font-size: 0.6em;
}

.skill-row{
	display: flex;
	flex-direction: row;
	align-self:center;
	align-items: center;
	width: 95vw;
	/* border: 2px solid purple; */
}

.title-row{
	display: flex;
  flex-direction: row;
  align-self: flex-end;
  align-items: center;
  justify-content: space-around;
  width: 100%;
	height:fit-content
	/* border: 2px solid greenyellow; */
}

.tree-row {
	display: flex;
	flex-direction: row;
	align-self: center;
	align-items: center;
	width: 95%;
	justify-content: space-around;
	/* border: 2px solid greenyellow; */
	text-transform: uppercase;
	padding:1% 0 1% 0;
}

.tree-block{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	max-width: 600px;
	flex:1;
}

.main-wrapper {
	width: 100vw;
	height:100%;
	display: flex;
	margin: auto;
	align-content: center;
	justify-content: center;
	text-align: center;
	text-transform: uppercase;
}

.slider-container{
	width:100%;
}

.header{
	width: 99vw;
	padding:0;
	margin: 0;
	text-align: center;
}

button.action-btn{
	text-transform: uppercase;
	background: none;
  border: 1px solid white;
  padding: 3px 5px 3px 5px ;
	color: white;
	z-index: 10000;
}


#lang {
	display:block;
	position: absolute;
	top: 5%;
	right: 5%;
}

/* #stats {
	display:block;
	position: absolute;
	top: 12%;
	right: 5%;
} */

#clear {
	top: 1em;
	margin: 0.5em;
	position: relative;
	display: flex;
}

.slick-arrow{
	display:none !important;
}

@media only screen and (width < 600px) {
	.player-feats-block {
		display: flex;
		flex-direction: column;
	}

	.player-feats-block>div{
		width: 100%;
	}
	
	.tree-block{
		width: 100%;
	}
	h1{
		text-align: left;
		font-size: 1.5em;
		margin-top: 0;
	}
	h2{
		font-size: 0.8em;
	}

	#lang {
		display:block;
		position: absolute;
		top: 3%;
		right: 1%;
	}

	/* #stats {
		display:block;
		position: absolute;
		top: 3%;
		right: 10%;
	} */
	.player-block {
		display:block;
	}
	.player-block span {
		margin-left:0;
		font-size: 0.7em;
	}
	.player-block label input {
		margin-right: 0;
		font-size: 0.7em;
	}
	
}
