@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&display=swap');
#root{
	margin:0;
	padding:0;
	width:100vw;
	height:100vh;
	display: flex;
  flex-direction: column;
  align-items: center;
}



* {
	font-family: 'Noto Sans Mono';
}

h4{
	color: lightgray
}

.skill-title {
	text-transform: uppercase;
	font-weight: 300;
	width: 10vw;
}

.skill{
	width: auto;
}

.index{
	color: lightgray;
	width: 3%;
	padding-left:-3vw;
	font-size: 0.6em;
}

.skill-row{
	display: flex;
	flex-direction: row;
	align-self:center;
	align-items: center;
	width: 100%;
	/* border: 2px solid purple; */
}

.title-row{
	display: flex;
  flex-direction: row;
  align-self: center;
  align-items: center;
  justify-content: space-around;
	padding-left:-5%;
  width: 95%;
	/* border: 2px solid greenyellow; */
}

.tree-row {
	display: flex;
	flex-direction: row;
	align-self: center;
	align-items: center;
	width: 95%;
	justify-content: space-around;
	/* border: 2px solid greenyellow; */
	text-transform: uppercase;
	padding:1% 0 1% 0;
}

.tree-block{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	max-width: 600px;
	flex:1;
}

.main-wrapper {
	width: 100vw;
	height:100%;
	display: flex;
	margin: auto;
	align-content: center;
	justify-content: center;
	text-align: center;
	text-transform: uppercase;
	/* border: 2px solid red; */
}

.slider-container{
	width:100%;
	
}

@media only screen and (width < 1250px) {
	.slick-arrow{
		display:none !important;
	}
	.tree-block{
		width: 100%;
	}
}